<%= form_tag '/profile/password', method: :patch do %>
<label>Password:</label>
<%= text_field_tag :password %><br>

<label>Confirm Password:</label>
<%= text_field_tag :password_confirmation %><br>

<%= submit_tag "Update Password" %>
<% end %>
